# Automated ML

TODO: Import Dependencies. In the cell below, import all the dependencies that you will need to complete the project.

In [1]:
from azureml.core import Workspace, Experiment

## Dataset

### Overview
TODO: In this markdown cell, give an overview of the dataset you are using. Also mention the task you will be performing.


TODO: Get data. In the cell below, write code to access the data you will be using in this project. Remember that the dataset needs to be external.

In [2]:
ws = Workspace.from_config()

print('WORKSPACE DETAILS:\nWorkspace name: ' + ws.name, 
      'Azure region: ' + ws.location, 
      'Subscription id: ' + ws.subscription_id, 
      'Resource group: ' + ws.resource_group, sep = '\n')

# choose a name for experiment
experiment_name = 'Heart_Disease_Kaggle_AutoML'

experiment=Experiment(ws, experiment_name)
print("Experiment created")

run = experiment.start_logging()

WORKSPACE DETAILS:
Workspace name: quick-starts-ws-136793
Azure region: southcentralus
Subscription id: 48a74bb7-9950-4cc1-9caa-5d50f995cc55
Resource group: aml-quickstarts-136793
Experiment created

In [3]:
from azureml.core.compute import ComputeTarget, AmlCompute
from azureml.core.compute_target import ComputeTargetException
# Creating a compute cluster
# vm_size = "Standard_D2_V2"
# max_nodes = 4.

cpu_cluster_name = "cpu-cluster"

# to check whether the compute cluster exists already or not
try:
    cpu_cluster = ComputeTarget(workspace=ws, name=cpu_cluster_name)
    print("Existing compute target found... Using it")

except ComputeTargetException:
    print("Creating new Compute Target... " + cpu_cluster_name)
    provisioning_compute_config = AmlCompute.provisioning_configuration(vm_size="STANDARD_D2_V2", max_nodes=4)
    cpu_cluster = ComputeTarget.create(ws, cpu_cluster_name, provisioning_compute_config)

cpu_cluster.wait_for_completion(show_output=True)

Existing compute target found... Using it
Succeeded
AmlCompute wait for completion finished

Minimum number of nodes requested have been provisioned

## Exploring the Dataset

In [4]:
from azureml.data.dataset_factory import TabularDatasetFactory

url_path = "https://raw.githubusercontent.com/bharati-21/AZMLND-Capstone-Project/master/files/heart.csv"
ds = TabularDatasetFactory.from_delimited_files(path=url_path)

In [5]:
ds_dataframe = ds.to_pandas_dataframe()
ds_dataframe.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [6]:
from train import clean_data

# Use the clean_data function to clean your data.
x, y = clean_data(ds)

Index(['age', 'resting_BP', 'cholesterol', 'max_heart_rate', 'st_depression',
       'target', 'sex_1', 'chest_pain_type_1', 'chest_pain_type_2',
       'chest_pain_type_3', 'fasting_blood_sugar_1', 'rest_ecg_1',
       'rest_ecg_2', 'exercise_induced_angina_1', 'st_slope_1', 'st_slope_2',
       'num_major_vessels_1', 'num_major_vessels_2', 'num_major_vessels_3',
       'num_major_vessels_4', 'thalassemia_1', 'thalassemia_2',
       'thalassemia_3'],
      dtype='object')
(303, 23)
(303, 22) (303,)
Index(['age', 'resting_BP', 'cholesterol', 'max_heart_rate', 'st_depression',
       'target', 'sex_1', 'chest_pain_type_1', 'chest_pain_type_2',
       'chest_pain_type_3', 'fasting_blood_sugar_1', 'rest_ecg_1',
       'rest_ecg_2', 'exercise_induced_angina_1', 'st_slope_1', 'st_slope_2',
       'num_major_vessels_1', 'num_major_vessels_2', 'num_major_vessels_3',
       'num_major_vessels_4', 'thalassemia_1', 'thalassemia_2',
       'thalassemia_3'],
      dtype='object')
(303, 23)

In [7]:
x

,age,resting_BP,cholesterol,max_heart_rate,st_depression,sex_1,chest_pain_type_1,chest_pain_type_2,chest_pain_type_3,fasting_blood_sugar_1,...,exercise_induced_angina_1,st_slope_1,st_slope_2,num_major_vessels_1,num_major_vessels_2,num_major_vessels_3,num_major_vessels_4,thalassemia_1,thalassemia_2,thalassemia_3
0,63,145,233,150,2.3,1,0,0,1,1,...,0,0,0,0,0,0,0,1,0,0
1,37,130,250,187,3.5,1,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
2,41,130,204,172,1.4,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
3,56,120,236,178,0.8,1,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
4,57,120,354,163,0.6,0,0,0,0,0,...,1,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,140,241,123,0.2,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,1
299,45,110,264,132,1.2,1,0,0,1,0,...,0,1,0,0,0,0,0,0,0,1
300,68,144,193,141,3.4,1,0,0,0,1,...,0,1,0,0,1,0,0,0,0,1
301,57,130,131,115,1.2,1,0,0,0,0,...,1,1,0,1,0,0,0,0,0,1
302,57,130,236,174,0.0,0,1,0,0,0,...,0,1,0,1,0,0,0,0,1,0

In [8]:
import os
import pandas as pd
path = "./Data"
try:
    os.makedirs(path, exist_ok=True)
    print("Dicrectory 'Data' created...")
except OSError:
    print("Directory 'Data' cannot be created...")

Dicrectory 'Data' created...

In [9]:
clean_df = x.copy(deep=True)
clean_df['target'] = y
clean_df.to_csv('./Data/clean_data.csv')
x.shape, y.shape, clean_df.shape

((303, 22), (303,), (303, 23))

In [13]:
# split data into test and train sets

from sklearn.model_selection import train_test_split
import pandas as pd

#spliting the data
train_x, test_x, train_y, test_y = train_test_split(x, y, test_size = 0.3)

train_df = pd.concat([train_x, train_y], axis=1)
test_df = pd.concat([test_x, test_y], axis=1)

print(train_df.shape)
print(test_df.shape)

# saving test and train data locally
train_df.to_csv("./Data/train_data.csv")
test_df.to_csv("./Data/test_data.csv")

(212, 23)
(91, 23)

In [15]:
deafult_store = ws.get_default_datastore()
deafult_store.upload(src_dir="./Data", target_path="./", overwrite=True)

Uploading an estimated of 3 files
Uploading ./Data/clean_data.csv
Uploaded ./Data/clean_data.csv, 1 files out of an estimated total of 3
Uploading ./Data/test_data.csv
Uploaded ./Data/test_data.csv, 2 files out of an estimated total of 3
Uploading ./Data/train_data.csv
Uploaded ./Data/train_data.csv, 3 files out of an estimated total of 3
Uploaded 3 files

$AZUREML_DATAREFERENCE_workspaceblobstore

In [16]:
from azureml.core import Dataset

clean_data = Dataset.Tabular.from_delimited_files(path=[(deafult_store, ("./Data/clean_data.csv"))])
train_data = Dataset.Tabular.from_delimited_files(path=[(deafult_store, ("./Data/train_data.csv"))])
test_data = Dataset.Tabular.from_delimited_files(path=[(deafult_store, ("./Data/test_data.csv"))])

In [23]:
train_data = train_data.drop_columns('Column1')
train_data.to_pandas_dataframe()

,age,resting_BP,cholesterol,max_heart_rate,st_depression,sex_1,chest_pain_type_1,chest_pain_type_2,chest_pain_type_3,fasting_blood_sugar_1,...,st_slope_1,st_slope_2,num_major_vessels_1,num_major_vessels_2,num_major_vessels_3,num_major_vessels_4,thalassemia_1,thalassemia_2,thalassemia_3,target
0,55,135,250,161,1.4,0,1,0,0,0,...,1,0,0,0,0,0,0,1,0,1
1,45,128,308,170,0.0,1,1,0,0,0,...,0,1,0,0,0,0,0,1,0,1
2,67,120,237,71,1.0,1,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
3,63,145,233,150,2.3,1,0,0,1,1,...,0,0,0,0,0,0,1,0,0,1
4,57,140,192,148,0.4,1,0,0,0,0,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,44,110,197,177,0.0,1,0,0,0,0,...,0,1,1,0,0,0,0,1,0,0
208,41,130,214,168,2.0,1,0,1,0,0,...,1,0,0,0,0,0,0,1,0,1
209,40,140,199,178,1.4,1,0,0,1,0,...,0,1,0,0,0,0,0,0,1,1
210,41,105,198,168,0.0,0,1,0,0,0,...,0,1,1,0,0,0,0,1,0,1
211,48,130,275,139,0.2,0,0,1,0,0,...,0,1,0,0,0,0,0,1,0,1

## AutoML Configuration

TODO: Explain why you chose the automl settings and cofiguration you used below.

In [26]:
from azureml.train.automl import AutoMLConfig

# TODO: Put your automl settings here

automl_config = AutoMLConfig(
    experiment_timeout_minutes=30,
    task='classification',
    primary_metric='accuracy',
    training_data=train_data,
    label_column_name="target",
    n_cross_validations=5,
    compute_target = cpu_cluster)

print("AutoML config created.")

AutoML config created.

In [ ]:
from azureml.widgets import RunDetails

# TODO: Submit your experiment
remote_run = experiment.submit(automl_config, show_output = True)


RunDetails(remote_run).show()
remote_run.wait_for_completion(show_output=True)

Running on remote.
No run_configuration provided, running on cpu-cluster with default configuration
Running on remote compute: cpu-cluster
Parent Run ID: AutoML_25a3801a-37fe-4312-8a83-335a84021c2e

Current status: FeaturesGeneration. Generating features for the dataset.
Current status: DatasetCrossValidationSplit. Generating individually featurized CV splits.
Current status: ModelSelection. Beginning model selection.

****************************************************************************************************
DATA GUARDRAILS:

TYPE:         Class balancing detection
STATUS:       PASSED
DESCRIPTION:  Your inputs were analyzed, and all classes are balanced in your training data.
              Learn more about imbalanced data: https://aka.ms/AutomatedMLImbalancedData

****************************************************************************************************

TYPE:         Missing feature values imputation
STATUS:       PASSED
DESCRIPTION:  No feature missing values were detected in the training data.
              Learn more about missing value imputation: https://aka.ms/AutomatedMLFeaturization

****************************************************************************************************

TYPE:         High cardinality feature detection
STATUS:       PASSED
DESCRIPTION:  Your inputs were analyzed, and no high cardinality features were detected.
              Learn more about high cardinality feature handling: https://aka.ms/AutomatedMLFeaturization

****************************************************************************************************

****************************************************************************************************
ITERATION: The iteration being evaluated.
PIPELINE: A summary description of the pipeline being evaluated.
DURATION: Time taken for the current iteration.
METRIC: The result of computing score on the fitted pipeline.
BEST: The best observed score thus far.
****************************************************************************************************

 ITERATION   PIPELINE                                       DURATION      METRIC      BEST
         0   MaxAbsScaler LightGBM                          0:00:48       0.7877    0.7877
         1   MaxAbsScaler XGBoostClassifier                 0:00:59       0.8159    0.8159
         2   MinMaxScaler RandomForest                      0:00:54       0.8064    0.8159
         3   MinMaxScaler RandomForest                      0:01:00       0.7922    0.8159
         4   MinMaxScaler RandomForest                      0:00:58       0.7969    0.8159
         5   MinMaxScaler SVM                               0:00:53       0.7738    0.8159
         6   MaxAbsScaler GradientBoosting                  0:00:57       0.8302    0.8302

## Run Details

OPTIONAL: Write about the different models trained and their performance. Why do you think some models did better than others?

TODO: In the cell below, use the `RunDetails` widget to show the different experiments.

In [45]:
#from azureml.widgets import RunDetails

#RunDetails(remote_run).show()
#remote_run.wait_for_completion(show_output=True)

## Best Model

TODO: In the cell below, get the best model from the automl experiments and display all the properties of the model.

In [40]:
best_run, fitted_model = remote_run.get_output()
print(best_run)

Run(Experiment: Heart_Disease_Kaggle_AutoML,
Id: AutoML_da0a796e-f542-4147-bd85-5af3ab81a563_29,
Type: azureml.scriptrun,
Status: Completed)

In [ ]:
print(fitted_model)

In [ ]:
best_run.get_tags()

In [ ]:
import joblib
from azureml.core.model import Model

#TODO: Save the best model

description = "Best Model from AutoML run of the Cleveland Foundation Clinic Heart Disease Dataset"
automl_model = remote_run.register_model(model_name='heart_disease_autoML_best_model.pkl', description=description)

## Model Deployment

Remember you have to deploy only one of the two models you trained.. Perform the steps in the rest of this notebook only if you wish to deploy this model.

TODO: In the cell below, register the model, create an inference config and deploy the model as a web service.

TODO: In the cell below, send a request to the web service you deployed to test it.

TODO: In the cell below, print the logs of the web service and delete the service